{% extends 'base.html' %}
{% load widget_tweaks %}

{% block page_title %}Cambiar Contraseña: {{ user.username }}{% endblock %}

{% block content %}
<div class="card p-4 border-0 shadow-sm">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label>{{ form.password.label }}</label>
            {% render_field form.password class="form-control" %}
        </div>
        <button type="submit" class="btn btn-warning">Actualizar Contraseña</button>
    </form>
</div>
{% endblock %}
